@CHARSET "UTF-8";

@import url("../../css/aside.css");

/* --- Override ----------------------- */

.aside .margin-top{
	margin-top: 10px;
}

.aside .player {
	cursor:pointer;
	
	width: 181px;
	height: 40px;
	line-height:40px;
	text-align:center;	
	
	border:1px solid #ff7e00;
	border-radius: 10px;
	background: #9dcf40; /* Old browsers */	
	background: radial-gradient(ellipse at center, #ffd3a9 0%,#ff7e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}

.aside .player > a{
	color : #fff;	
	font-size: 14px;
	font-family: "맑은고딕", "고딕", sans-serif;
	font-weight:bold;
}

.aside .player > a:hover {
	
	color: #ffff00;
}